[Desktop Entry]
Type=Application
Name=Yazi
GenericName=File Manager
Comment=Blazing fast terminal file manager (opens in kitty)
Icon=yazi
TryExec=yazi
Exec=kitty --class yazi -e yazi %f
Terminal=false
MimeType=inode/directory;application/x-directory;
Categories=System;FileManager;FileTools;ConsoleOnly;
Keywords=File;Manager;Explorer;Browser;
